{% extends 'base.html' %}
{% block title %}About{% endblock %}
{% block pagetitle %}Reverb{% endblock %}
{% block content %}
<h3>Student Ministry</h3>
<p>Colossians 1:10 "so that you will walk in a manner worth of the Lord, to please Him in all respects, bearing fruit in every good 
work and increasing in the knowledge of God;"
   <h3>Senior High Ministry</h3>
   <p>Galatians 2:20 "I have been crucified with Christ; and it is no longer I who live, but Christ lives in me; and the life 
which I now live in the flesh I live by faith in the Son of God, who loved me and gave Himself up for me."</p>    
<h3>Vision</h3>
   <p>Amplify life. Exemplify Christ</p>
   <h3>Mission</h3>
   <p>Our mission is to amplify students' lives with a tangible relationship with Christ.</p>
   <p>Through authentic fellowship and a firm foundation in truth, our goal is for students to be transformed and to exemplify Christ 
    like character.</p>
   <p>Amplify: relationship, fellowship, knowledge and character.</p>
   <p>Exemplify: character, service, leadership and obedience. </p>  	
   <h3> Cedar Run Community Church</h3>
   <p>to find out more about the church itself please click<a href="http://www.cedarrun.net">here</a></p>      
{% endblock %}
