{% extends 'base.html' %}
{% block title %}What We Believe{% endblock %}
{% block pagetitle %}What we believe{% endblock %}
{% block content %}
  <h2>The Holy Bible</h2>
  <p>The sole basis for our belief is the Bible (the Scriptures of the Old and New Testaments). We believe it to be uniquely God-inspired and 
inerrant in the original writings. This means that all facts (i.e., theological, doctrinal, historical, numerical, chronological, scientific, 
etc.) that the Bible intends to affirm are exempt from error in whole and in part. The Scriptures are the supreme and final authority in faith 
and life. (II Timothy 3:16; II Peter 1:21)</p>
 
 
<h2>God</h2>
 
<p>We believe in one God, who is creator and sustainer of life, eternally existing in three persons: Father, Son and Holy Spirit; each of whom is 
equal in power and glory. (Matt. 3:16, 17; Matt. 28:19; I Pet. 1:2)</p>
 
 
<h3>The Father</h3>
 
<p>We believe in God the Father, the first person of the Trinity. He transcends human description and natural laws because He is greater than them. 
(Gen. 1:1; Ex. 3:14; Ex. 34:6, 7; John 5:19-23)</p>
 
 
<h3>Jesus Christ</h3>
 
<p>We believe that Jesus Christ was conceived by the Holy Spirit and born of the virgin Mary and is True God and True Man. (Isaiah 7:14; John 
1:1-14; John 5:18; Phil. 2:6-ll)
 
We believe in the bodily death and resurrection of Christ, in His ascension into heaven where He is seated at the right hand of God, and in His 
ministry for us as High Priest and Advocate. (Luke 24:50-52; I Corinthians 15:3,4)
 
He shall come again to earth, personally and visibly, to consummate history and the eternal plan of God. (Titus 2:13; Acts 1:11)</p>
 
 
<h3>Holy Spirit</h3>
 
<p>We believe the Holy Spirit was sent into the world by the Father and the Son to impart to mankind the saving work of Christ. He convicts 
sinners, awakens in them a recognition of their need of a Savior and regenerates them. At the point of salvation He permanently indwells every 
believer to become the source of assurance, strength and wisdom, and uniquely endows each believer with gifts for building up the Church. The 
Holy Spirit guides believers in understanding and applying the Scripture. His power and control are appropriated by faith, making it possible 
for the believer to lead a life of Christ like character and to bear fruit to the glory of the Father. (John 16:8-11; Rom. 8:16-27; 1 
Corinthians 12:7; Titus 3:5; 1 Peter 4:10)</p>
 

<h2>Mankind</h2>
 
<p>We believe that mankind was created directly by God (we are not the product of an evolutionary process) in the image of God.  As a result of 
Adam's sin, all of humanity inherited a sin nature and thereby incurred not only physical death, but also spiritual death which is 
separation from God. Mankind is unable to remedy this situation by his own efforts. (Gen. 1:27; 2:17; 3:6; Rom. 5:12-19; Rom. 3:10-12, 23; Rom. 
6:23)</p>
 

<h2>Satan</h2>
 
<p>We acknowledge the existence of Satan created as an angel, though now fallen and the leader of all the demonic powers. He is opposed to 
God and constantly attempting to disrupt God's work and damage God's people. His final destiny is eternal justice in the lake of fire. 
(1 Peter 5:8; Matthew 25:41; Revelation 20:10)</p>
 

<h2>Salvation</h2>
 
<p>We believe that the Lord Jesus Christ is the only way for mankind to be reconciled to God.  He died for our sins according to the Scriptures as 
a substitutionary sacrifice and that all who believe in Him are justified on the grounds of His death and resurrection. (Romans 4:24, 25; John 
14:6; I Corinthians 15:3; I John 1:7; Acts 13:39; II Corinthians 5:21; I Peter 2:24)
 
We believe that all who receive Christ by faith are born again of the Holy Spirit and thereby become the children of God. (John 1:12; 3:16; 
3:5-7; Rom. 8:4; 10:9, 10; Gal. 3:26)
 
We believe in righteous living and good works, not as the means of salvation, but as its evidence and fruit. (Ephesians 2:8-10; Romans 6:1,2; 
Romans 12:1,2; 1 John 3:9,10)
 
We believe in the eternal salvation of the believer, i.e. that it is not possible for the true child of God to lose his salvation (John 
10:27-29; Romans 8:35; Ephesians 1:13, 14; Philippians 1:6; 1 Peter 1:5)
 
We believe in the bodily resurrection of the dead to eternal life for those who have received Christ as Savior and Lord and to eternal 
separation from God for those who have not. (John 5:28,29)</p>
 
 
<h2>The Church</h2>
 
<p>We believe in the one true Church, universal, a living spiritual body, of which Christ is the Head, and of which all who have received Christ as 
Savior and Lord are members. We believe that a visible Church is a local body of believers in Jesus Christ, whose purpose is to gather together 
for exaltation, edification, evangelism and extension. (Ephesians 5:20-32)  
 
The members of the Church should seek to discover and exercise their spiritual gifts in useful forms of ministry. We believe that the Church is 
salt and light resulting in a Christ-like influence in the world. (Matthew 5:13, 14)</p>
 
 
<h2>Baptism</h2>
 
<p>We believe that baptism was ordained by our Lord Jesus Christ and that the scriptures direct that every believer be baptized. We believe that 
baptism is symbolic of the inner transformation occurring the moment a person receives Christ. We believe that baptism as a statement of one 
spiritual baptism in Christ must come after the person receives Christ. (Matthew 28:18-20; Romans 6:1-13)</p>
 
 
<h2>The Lord's Supper</h2>
 
<p>We believe that the Lord's Supper serves to remind us in symbolic manner of the death of the Lord Jesus Christ on our behalf. This ordinance is 
for those who have received Christ as Savior and Lord. (I Corinthians 11:26)</p>
 
 
<h2>Faith and Practice</h2>
 
<p>We believe that Scripture is the final authority in all matters of faith and practice. This Church recognizes that it cannot bind the conscience 
of individual members in areas where Scripture is silent. Rather, each believer is to be led in those areas by the Lord, to whom he or she alone 
is ultimately responsible. (Romans 14)
 
We believe this Statement of Beliefs to be an accurate summary of what Scripture teaches. All members shall refrain from advocating doctrines 
that are not included in this Statement of Beliefs in such a way as to cause dissension. (I Timothy 3)</p>
{% endblock %}
