{% extends 'base.html' %}
{% block title %}Team{% endblock %}
{% block pagetitle %}Team{% endblock %}
{% block content %}
<div class="well">
   <h3> Travis Hughlett</h3>
   <p>Youth Director</p> 
   <p>Travis has been married for 3 years to his beautiful wife Kelsey, and has lived in Northern Virginia his whole life. 
      He graduated Liberty University in 2011 with a degree in Youth Ministry with a specialization in Biblical Studies.
      His desire to lead youth with the truth of the gospel started when he was 18, and he stoped fighting the call God had on his life.
      Over the next 4 years he held different internships until he landed back here in his home town at Cedar Run. 
      In his free time you can find him either at the gym, hanging out with friends, or putting some time in on the Xbox. 
      When he does read he enjoys books from Francis Chan such as, "You and Me forever", and "Crazy Love". His life has been one huge 
      lesson from God, teaching, refining, and building what He wants for Travis, he is just along for the ride.</p>
</div>
<div class="well">
   <h3>Sarah Shirey</h3>
   <p>Associate Youth Director</p>
   <p>Previously working in media & television, Sarah was called to fulltime ministry back in the fall of 2012. She is an avid coffee 
drinker, cheese aficionado, Star Wars enthusiast and lover of all things furry. She loves how all of scripture is connected and 
enjoys studying exegesis and etymology . Her desire is to cultivate an understanding of the Word with students and to ignite their 
passion for the Lord and his law.</p>
</div>
<div class="well">
   <h3>Siebren (viking) Bakker</h3>
   <p>Volunteer</p>
<p>Siebren is a nerd. He especially loves gaming in all its forms, and reading. He loves how stories and games bring people 
together and really connect to each other. He started volunteering in the spring of 2016 working the soundboard. It didn’t take 
him long to start helping out with group discussions and events. He desires to be a person the youth can trust and turn to, and he 
hopes to see them grow as individuals, and in their faith.</p>
</div>
<div class="well">
<h3>Christina Garcia-Bakker</h3>
<p>Volunteer</p>
<p>Born in Illinois raised in Holland she love to travel. From the people she meets, the creations she sees, and the historical place 
she experiences, she loves connecting it all back to God. She does the same with all her creative endeavors, and while enjoying the 
art and stories from others, she loves to bring it all back to God, how holy and good He is, and how broken we are. She loves the 
Lord and really wants to awaken the Love for Him in the hearts of the students, in the hope they will serve Him with joy, love, and 
thanksgiving</p>
</div>
<div class="well">
<h3>Austin Shirey</h3>
<p>Volunteer</p>
<p>Austin Shirey is Sarah's husband - a role he firmly believes is the greatest in the world! Austin loves anything that has to do 
with fantasy, superheroes, science fiction, video games, music and movies; he's actually currently writing his own fantasy novels in 
his spare time. When he's not being nerdy, he loves serving alongside his "nerd mate" Sarah and volunteering with the youth group. He 
desires to have the youth experience the gospel freedom Jesus offers and to instill a love of God's Word in their hearts, that they 
might be young men and women who "seek the Lord continually" (Psalm 105:4)</p>
</div>
<div class="well">
<h3>Chelsea Tekesky</h3>
<p>Volunteer</p>
<p>Chelsea Tekesky grew up in Herndon and attended Trinity Christian School. It was at Trinity that she came to know and love 
Jesus Christ. She went to college at Christopher Newport University. During this time, she met her husband Scott. Chelsea loves 
animals, traveling, and being outside. She is passionate about serving with the Senior High and sharing the beautiful love of Jesus
with the students.</p>
</div>
<div class="well">
<h3>Scott Tekesky</h3>
<p>Volunteer</p>
</div>  	
{% endblock %}
